.pie-pagina{
    width: 100%;
    background: aliceblue;
    color: black;
    text-align: center;
    padding: 1rem 0;
}
.pie-pagina a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}