:root{
    --primary: #2c3e50;
    --card: #ecf0f1;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto; 
}
.encabezado {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 15px 30px;
    border: 1px solid black;
  }

  .encabezado img {
    width: 100px;
    margin-right: 20px;
  }

  .encabezado h1 {
    margin: 0;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
  }